@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

*{
    box-sizing: border-box;
    font-family: 'KOTRAHOPE';
    font-size: 20px;
    background-color: beige;
    text-align: center;
}    
nav{
    text-align: center;
}
body{
    margin: 20% 20%;
}
li{
    width: 20%;
}
a:link {
    color : darkgrey;
    text-decoration: none;
  }
a:visited {
    color : black;
    text-decoration: none;
}
a:hover {
    color : lightcoral;
    text-decoration: underline;
}
a:active {
    color : gray;
    text-decoration: none;
}